#map { 
    height: 40vh;
    border-radius: 10px;
    border: 2px solid black;
}
input, textarea{
    clear:both;
    float: right;
}

#base-container{
    margin-top: 12vh;
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
}
#submit-btn{
    float: right;
    margin-top: 2vh;
}

#delete-btn{
    float: left;
    margin-top: 2vh;
}

#header{
    padding-bottom: 2vh;
    text-align: center;
}
