{% extends "account/layout.html" %}

{% block title %}
djcdjnc
{% endblock title %} 

{% block img_profile %}
  {{ photo_link }}
{% endblock img_profile %}

{% block name %}
  {{ first_name }} {{ last_name }}
{% endblock name %}
{% block btn_url %}/accounts/logout{% endblock btn_url %}
{% block btn_content %}logout{% endblock btn_content %}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <a href="/remember/new">новый</a><br />
      {% for i in remembers %} {{ i.1 }}<br />
      <div class="remember">
        <a href="/remember/{{ i.0 }}">full</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}
